.nav{
  display: flex;
  position: fixed;
  top: -10em;
  left: 0em;
  justify-content: space-between;
  align-items: center;

  background: rgba(18,18,18,0.65);

  height: 2em;
  width: calc(100% - (1em * 4));

  backdrop-filter: blur(3px);
  border: 1px solid var(--fevColor);

  border-radius: 50em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -ms-border-radius: 50em;
  -o-border-radius: 50em;

  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;

  z-index: 9999;
}

.scrolled{
  top: 0em !important;
}

.navtitle
{
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 1.8em;

  svg{
    width: 1.5em;
    margin-right: 0.5em;
  }
}

.links{
  ul{
    display: flex;
    gap: 3.5em;
    list-style: none;

    li{
      &:last-child{
        margin-right: 3.5em;
      }
    }
  }
}
