.nav{
  display: flex;
  position: fixed;
  top: 0em;
  left: 0em;
  justify-content: space-between;
  align-items: center;

  background: rgba(18,18,18,0.65);

  height: 2em;
  width: calc(100% - 1em);

  border: 0px solid transparent;

  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;

  backdrop-filter: blur(3px);

  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;

  z-index: 9999;
}

.scrolled{
  width: calc(100% - (1em * 4));
  margin: 1em;
  border: 1px solid var(--fevColor);
  border-radius: 50em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -ms-border-radius: 50em;
  -o-border-radius: 50em;
}



.navtitle
{
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 1.8em;

  svg{
    width: 1.5em;
    margin-right: 0.5em;
  }
}

.links{
  ul{
    display: flex;
    gap: 3.5em;
    list-style: none;

    li{
      &:last-child{
        margin-right: 3.5em;
      }
    }
  }

  transition: opacity 0.2s ease-in;

  @media (max-width: 750px){
    display: none;
    opacity: 0;
  }
}

.Ham-menu{
  display: none;
  img{
    width: 1.5em;
    margin-right: 1em;
  }

  @media (max-width: 750px){
    display: flex;
  }
}

.links.open{
  display: flex;
  opacity: 1;
  position: absolute !important;

  justify-content: center;
  align-items: center;
  width: 100dvw;
  top: 100%;
  left: 0;
  padding: 2em 0em;
  backdrop-filter: blur(3px) !important;
  background: rgba(18,18,18,0.65);

  .link{
    font-size: 1.1em;
  }

  ul{
    flex: 1;
    flex-direction: column;
    gap: 3.5em;

    padding: 0.5em 0em;

    li{
      text-align: center;
      margin: 0px;
    }
  }
}
