<main class="flex flex-column gap2 m1 mt5">
  @for (ProjectSection of projects; track $index) {
  <div class="full mb1 flex-center">
    <app-paragraph [Title]="ProjectSection.title"></app-paragraph>
    <div class="flex flex-wrap gap2 p1 projects ">
      @for (project of ProjectSection.projects; track $index) {
      <app-big-project-card class="card" [Project]="project" [Sizing]="'auto'"></app-big-project-card>
      }
    </div>
  </div>
  }
  <div class="flex flex-column gap1">
    <h2>Wanna see more ?</h2>
    <div class="flex flex-column">
      <h3 class="m1 mb1">visit my github</h3>
      <app-btn-with-image [Image]="`assets/Social/GitHub.svg`" [link]="'https://github.com/Quantum-Youssef-Amr'"
        [Title]="`GitHub`"> </app-btn-with-image>
    </div>
  </div>
</main>