.card{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  width: 10em;
  height: 10em;

  background: rgba(54,54,54,0.25);

  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
