.gradient{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--bgColor) 90%);
  pointer-events: none;
  z-index: -1;
}

.zeros{
  line-height: 1.5em;
  letter-spacing: 0.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;
  z-index: -2;
}

.stack-container{
  height: 85vh;
}

.highlight-cards{
  position: relative;

  display: flex;
  width: 90dvw;
  height: fit-content;

  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  margin-top: -3em;

  background: rgba(18,18,18,0.65);
  backdrop-filter: blur(3px);

  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
