.gradient{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--bgColor) 90%);
  pointer-events: none;
  z-index: -1;
}

.zeros{
  line-height: 1.5em;
  letter-spacing: 0.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;
  z-index: -2;
}
