.tip{
  display: flex;
  width: 8em;
  height: fit-content;
  background-color: #222;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.massage{
  text-wrap-mode: wrap;
  text-wrap-style: pretty;

  text-align: center;
}
