.stack-container{
  width: 100%;
  height: calc(100vh - 10em);

  .mainProjectImage{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .gradient{
    background: linear-gradient(to top, var(--bgColor), transparent);
  }
}

.img-list{
  height: 15em;
}

.imgs{
  overflow: visible hidden;
}

.two-way-gradient{
  background: linear-gradient(to right, var(--bgColor) 0%, transparent 20%, transparent 80%, var(--bgColor) 100%);
  pointer-events: none;
  z-index: 1;
}

.project-details{

  justify-content: space-between;

  height: 20%;
  width: calc(100% - 4em);
  top: calc(100% - 20% - 4em);

  .icon{
    width: 10em;
    height: 10em;
  }

  .tech{
    width: 2em;
    height: 2em;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  .projectText{
    align-items: center;
    text-align: left;
  }
}

.btns{
  align-items: center;

  .btn{
    overflow: hidden;
  }
}


.btn{
  width:  5em;
  height: 5em;

  img{
    width: 60%;
    height: 60%;
  }

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.credit{
  width: 2em;
  height: 2em;


  img{
    width: 100%;
    height: 100%;
  }
}

.squares{
  position: absolute;

  width: 100%;
  height: 40em;
  z-index: -1;

  pointer-events: none;

  top: calc(100% - 40em);
  left: 0px;

  background: linear-gradient(to top, var(--fevColor), transparent 80%);

  mask-image: url('/assets/imgs/bg.svg');
  mask-repeat: repeat;
  mask-size: 5em;

  animation: bg-move 1s infinite linear;
  -webkit-animation: bg-move 1s infinite linear;
}

@keyframes bg-move {
  from{
    mask-position: 0em 5em;
  }

  to{
    mask-position: 0em 0em;
  }
}

.img-preview{
  position: fixed;
  top: 52%;
  left: 50%;
  width: 80%;
  height: 80%;

  overflow: hidden;
  pointer-events: none;
  background: rgba(54,54,54,0.75);

  display: flex;
  opacity: 0;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-end;

  padding: 1em;

  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;


  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  z-index: 9997;

  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.showPreview{
  opacity: 1;
  top: 50%;
  pointer-events: all;
}

.img-preview-img{
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  z-index: 9998;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.close-btn{
  width: 3em;
  height: 3em;
  cursor: pointer;
  z-index: 9999;
}


.img-list-img{
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;

  cursor: pointer;


  &:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.img-list-img:hover ~ .img-list-img, .img-list-img:has(~ .img-list-img:hover) {
    filter: blur(3px) grayscale(40%);
    -webkit-filter: blur(3px) grayscale(40%);
}

.btn-with-img{
  width: 30em;
}
