:root{
  --fevColor: #FFCA00;
  --bgColor: #111111;
  --subTextColor: #999999;
}

*{
  padding: 0px ;
  margin: 0px;

  font-family:Bahnschrift ,system-ui, -apple-system, 'Open Sans';
  color: #fff;
  user-select: none;
}

body{
  display: flex;
  flex-direction: column;

  background-color: var(--bgColor);
  font-size: 12px;
}

.title{
  font-size: 2em;
  &:not(:hover){
    color: white !important;
  }
}

.titleSize{
  font-size: 2em;
}

.subtitle{
  font-size: 1em;
  color: var(--subTextColor);
}

.fevCol{
  color: var(--fevColor);
  *{
    color: var(--fevColor);
  }
}

.m1{
  margin: 1em;
}

.mt1{
  margin-top: 1em;
}


.mt2{
  margin-top: 2em;
}


.mt3{
  margin-top: 3em;
}

.mb1{
  margin-bottom: 1em;
}


.mt05{
  margin-top: 0.5em;
}

.mb05{
  margin-bottom: 0.5em;
}

.m2{
  margin: 2em;
}

.p1{
  padding: 1em;
}

.p2{
  padding: 1em;
}


.wid90{
  max-width: 90%;
}

.wid80{
  max-width: 80%;
}

.full{
  width: 100%;
  height: 100%;
}

.full-height{
  height: 100%;
}

.full-width{
  width: 100%;
}

.vw100{
  width: 100vw;
}

.vh{
  width: 100vw;
}

.centered{
  text-align: center;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.gap1{
  gap: 1em;
}

.gap2{
  gap: 2em
}

.btnlink{
  text-decoration: none;
  transition:  all 0.2s ease-in-out;
  -webkit-transition:  all 0.2s ease-in-out;
  -moz-transition:  all 0.2s ease-in-out;
  -ms-transition:  all 0.2s ease-in-out;
  -o-transition:  all 0.2s ease-in-out;

  *{
    color: white;
  }

  &:hover{
    *{
      color: var(--fevColor);
    }
  }
}

.link{
  text-decoration: none;
  color: var(--subTextColor);

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;

  &:hover{
    color: var(--fevColor);
  }
}


.iconLink{
  svg{
    width: 2.5em;

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;

    &:hover{
      fill: var(--fevColor);
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }
  }
}

.horizontal-slider{
  display: flex;

  gap: 3em;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  overflow: scroll hidden;
}

.appCard{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(54,54,54,0.25);
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.horizontal-collection{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  position: relative;

  >*{
    grid-column: 1/-1;
    grid-row: 1/-1;

    width: 100%;
    height: 100%;
  }
}

.stack-container{
  position: relative;

  width: calc(100vw - 2em);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  >*
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

.Grid-Collection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 4em;
}
